body {
	background: url("../images/bg.png");
}

/* #main2 {
	margin: auto;
	padding-top: 10px;
	padding-left: 23%;
	width: 72%;
	float: left;
} */

#main {
	text-align: center; width : 100%;
	//background: #FFFFCC;
	width: 100%;
}

#main ul li {
	text-align: center;
	font-size: 25px;
	display: inline;
	width: 50px;
	line-height: 50px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	padding: 15px;
}

#main a:link {
	text-decoration: none;
	color: blue
}

#main a:active {
	text-decoration: blink
}

#main a:hover {
	text-decoration: underline;
	color: red
}

#main a:visited {
	text-decoration: none;
	color: green
}

.content {
	width: 600px;
	height: auto;
	font-size: 16px;
	font-family: "微软雅黑";
}

.time {
	width: 300px;
	height: 20px;
	font-size: 16px;
}

.rub {
	height: auto;
	min-width: 20px;
}

#logoff {
	width: 50px;
	float: right;
}
#myclock{
	text-align: center;
}